html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.hide {
  display: none;
}

.app-body,
.app-start{
    max-width: 55em;
    margin: auto;
    margin-top: 5em;
  }

.app-title {
  width: 80%;
  margin: 0 auto;
}

.app-title h1 {
  text-align: center;
  margin-top: 4em;
}

.quiz-info {
  margin-top: 3em;
}

.question-number,
.incorrect-correct {
  display: flex;
}

.question-number {
  float: left;

}

.question-number {
  margin-left: 5em;
}

.question-number span, 
.question-number p {
  padding-left: 2em;
}


.question-number p {
  margin-top: 0em;
}

.quiz-question p {
  margin-top: 8em;
}

.incorrect-correct {
  float: right;

}

.incorrect-correct p,
.incorrect-correct span {
    padding-right: 2em;
}

.incorrect-correct p {
  margin-top: 0em;
}

.quiz-question {
  width: 75%;
  margin: 0 auto;
  margin-top: 7em;
}

.answer ul {
  margin-top: 5em;
  margin-left: 8em;
}

.answer li {
  display: inline;
  padding-right: 1em;
}

.answer span {
  padding-right: 1em;
}

.answer {
   width: 75%;
   margin: 0 auto;
}

.submit {
  width: 25%;
  margin: 3em auto;
  padding-left: 5em;
}

.start-center {
  width: 50%;
  margin: 0 auto;
}

.start-center p {
  text-align: center;
}

.start-center button {
  margin-top: 3em;
  margin-left: 40%;
}

.game-over {
  display: none;
}

.game-over h1 {
  text-align: center;
  margin-top: 4em;
}